<div class="sidebar" [class.open]="isOpen">
  <div class="sidebar-header bg-primary text-white d-flex justify-content-between align-items-center px-3 py-2">
    <h5 class="mb-0"><i class="fas fa-layer-group me-2"></i> Menu</h5>
  </div>
  <div class="sidebar-body px-2 py-3">
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/exam/exam-results"><i class="fas fa-file-alt me-2"></i> İmtahan Nəticələri</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/exam/students"><i class="fas fa-user-graduate me-2"></i> Şagirdlər</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/exam/lessons"><i class="fas fa-book me-2"></i> Dərslər</a>
      </li>
    </ul>
  </div>
</div>
